#feliz{
    color: rgb(56, 52, 52);
    align-items: center;
}
#frustrada{
    color: rgb(56, 52, 52);  
}
#confundida{
    color: rgb(56, 52, 52); 
}
#titulo{
text-align: center;
}
*{
    background-color: #73FDB7;
    border-radius: 16px;
}