#feliz{
    background-color: #96FFB7 ;
    border-radius: 14px;
    text-align: center;
    color: rgb(56, 52, 52);
}
#frustrada{
    background-color: #B988FF ;
    border-radius: 14px;
    text-align: center;
    color: rgb(56, 52, 52);
}
#confundida{
    background-color: #ffef93 ;
    border-radius: 14px;
    text-align: center;
    color: rgb(56, 52, 52); 
}